<div class="pure-g-r">
    <div class="pure-u-1-1">
        <table class="sign">
            <tr><td>T</td><td>S</td><td>O</td></tr>
            <tr><td>R</td><td>T</td><td>G</td></tr>
            <tr><td>I</td><td>E</td><td>A</td></tr>
            <tr><td>S</td><td class="link"><img src="/css/rvb.png"/></td><td>L</td></tr>
            <tr><td>M</td><td>P</td><td>L</td></tr>
            <tr><td>E</td><td>H</td><td>E</td></tr>
            <tr><td>G</td><td>O</td><td>R</td></tr>
            <tr><td>I</td><td>T</td><td>Y</td></tr>
        </table>
    </div>
</div>
