{% extends "layout.html.twig" %}

{% block title %}Welcome{% endblock %}

{% block stylesheets %}
<style>
    table.sign {
        margin: 0 auto;
    }

    .sign td {
        font-size: 48px;
        text-align: center;
        padding: 0.2em 0.3em;
    }

    td.link {
        padding: 0;
    }

    .centering {
        text-align: center;
    }

</style>
{% endblock %}

{% block content %}
<div class="pure-g-r">
    <div class="pure-u-1-1">
        <table class="sign">
            <tr><td>T</td><td>S</td><td>G</td></tr>
            <tr><td>R</td><td>T</td><td>A</td></tr>
            <tr><td>I</td><td>E</td><td>L</td></tr>
            <tr><td>S</td><td>P</td><td>L</td></tr>
            <tr><td>M</td><td>H</td><td>E</td></tr>
            <tr><td>E</td><td>O</td><td>R</td></tr>
            <tr><td>G</td><td>T</td><td>Y</td></tr>
            <tr><td>I</td><td>O</td><td class="link"><img src="/img/rvb.png"/></td></tr>
        </table>
    </div>
</div>
<hr/>
<div class="pure-g-r centering">
    <div class="pure-u-1-3">
        <a href="#">
            <img src="http://placehold.it/200x200" alt="placeholder image"/>
        </a>
    </div>
    <div class="pure-u-1-3">
        <a href="#">
            <img src="http://placehold.it/200x200" alt="placeholder image"/>
        </a>
    </div>
    <div class="pure-u-1-3">
        <a href="#">
            <img src="http://placehold.it/200x200" alt="placeholder image"/>
        </a>
    </div>
</div>
{% endblock %}
