<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="trismegiste photo gallery"/>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
